<div class="container">

  <div class="jumbotron">
    <h1>Indexing the learnable web</h1>
    <p>A free and open source database for all educational content</p>
    <%= link_to "Submit a Resource", new_resource_path, class: 'btn btn-primary' %>
    <%= link_to "Submit an Organization", new_organization_path, class: 'btn btn-primary' %>
  </div>
	
</div>

<section class="section main">
  <div class="container">
      <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      <footer>- Arcamedies in <cite title="Source Title">Smack your bith up</cite></footer>
  </div>
</section>

<section class="section second">
  <h1>London code schools</h1>
  <p>These shold be white Logos</p>
  <div class="row">
    <div class="col-md-4"><h2><%= link_to 'Steer', '/organizations/1' %></h2></div>
    <div class="col-md-4"><h2><%= link_to "Maker's Academy", '/organizations/3' %></h2></div>
    <div class="col-md-4"><h2><%= link_to 'Decoded', '/organizations/2' %></h2></div>
  </div>
</section>

<section class="section third">
 <h1>The Future</h1>
 <p>Would be nice to have little diagrams with text underneath</p>
 <div class="row">
  <div class="col-md-4">Meta data</div>
  <div class="col-md-4">Free API for all</div>
  <div class="col-md-4">Building a web ciriculum</div>
</div>
</section>

<section class="section forth">
  <h1>Our Supporters</h1>
  <p>Maybe a little quote carousel here</p>
  <p class="lead">"The most amazing site I have ever seen in all my time on the internet."</p>
      <footer>- Arcamedies in <cite title="Source Title">Smack your bith up</cite></footer>
</section>

<section class="section fifth">
 <div class="container">
  <div class="row">
                <h1>Find out the latest</h1>
                <p>Subscribe to our weekly Newsletter and stay tuned.</p>  

                <form action="" method="post">
                        <input type="text" id="" name="" placeholder="your@email.com">
                    </div>
                    <br />
                    <input type="submit" value="Sign up" class="btn btn-primary" />
              </form>
</div>
</section>

<footer class="footer">
  <div class="container">
    <p class="pull-left">Built by <a href="https://www.twitter.com/mollier_">Matt Collier</a></p> 
    <p class="pull-right">
      <a href="https://www.twitter.com/mollier_">Twitter</a>
      <a href="https://www.twitter.com/mollier_">Facebook</a>
      <a href="https://www.twitter.com/mollier_">Instagram</a>
    </p> 
  </div>
</footer>