<div class="container">
<!-- want to make links in this section #309BB0 -->
<section class="section main">
  <div class="jumbotron text-center">
    <h1>Indexing the learnable web</h1>
    <p>A free and open source database for all educational content, sorted by topic.</p>
    <%= link_to "Submit a Resource", new_resource_path, class: 'btn btn-primary' %>
    <%= link_to "Submit an Organization", new_organization_path, class: 'btn btn-primary' %>
  </div>
</section>
</div>

<section class="section first">
  <div class="container">
      <h4 class="lead">Edudex is a project that indexes educational content based on the topics covered. There are limitless ways to learn something new, but the topic always stays the same. Learning about jQuery could be a physical class, a digital MOOC or a blog post from an expert in the field. Eventually Edudex should be a living breathing index of the how the world is teching knowledge. Edudex is a non-profit, open source project creating the infrastructure for educational innovation to flourish.</h4>
  </div>
</section>

<section class="section second">
  <div class="container text-center">
  <h1>Web Developer Topics</h1>
  <div class="row">
    <div class="col-md-4">
      <h2><%= link_to "Responsive design", '/topics/131' %></h2>
    </div>
    <div class="col-md-4">
      <h2><%= link_to "JavaScript", '/topics/63' %></h2>
    </div>
    <div class="col-md-4">
      <h2><%= link_to "GitHub", '/topics/21' %></h2>
    </div>
  </div>
</div>
</section>  

<section class="section second">
  <div class="container text-center">
  <h1>Code schools in London</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <h2><%= link_to "Steer", '/organizations/1' %></h2>
    </div>
    <div class="col-md-4">
      <h2><%= link_to "Maker's Academy", '/organizations/3' %></h2>
    </div>
    <div class="col-md-4">
      <h2><%= link_to "Decoded", '/organizations/2' %></h2>
    </div>
  </div>
</div>
</section>

