<div class="container">
	<h1><%= @resource.title %></h1>
	<p><%= link_to @resource.url, @resource.url %></p>
	<p><%= @resource.description %></p>
	<p>Free? <%= @resource.free %></p>
	<p>£<%= @resource.price_in_pence %></p>
	<p>Available offline? <%= @resource.offline %></p>
	<p>Last upadated <%= time_ago_in_words(@resource.updated_at) %> ago</p>
	<p>Location <%= @resource.location %></p>
	<p>Difficulty <%= @resource.difficulty %></p>
	<p>Content type <%= @resource.content_type %></p>
	<p>License <%= @resource.license %></p>
	Topics: <%= raw @resource.topics.map { |t| link_to t.title, topic_path(t) }.join(', ') %>
</div>
