<div class="container">
	<h1><%= @resource.title %></h1>
	<p><%= link_to @resource.url, @resource.url %></p>
	<p><%= @resource.description %></p>
	<p>Free? <%= @resource.free %></p>
	<p>£<%= @resource.price_in_pence %></p>
	<p>Available offline? <%= @resource.offline %></p>
	<p>Last upadated at <%= @resource.updated_at %></p>
</div>
