<div class="container">
	<%= bootstrap_form_for @organization do |f| %>
				
			<div class="input-group">

				<%= f.text_field :title, label: 'Title' %>
				<%= f.text_field :tag_line, label: 'Tag Line' %>
				<%= f.text_field :url, label: 'Official url' %>
				<%= f.text_field :logo, label: 'Logo?' %>
				
				<%= f.button :submit, value: 'Submit', class: 'btn btn-primary' %>
						
			</div>
				
	<% end %>

	<h3>Or submit a resource to an existing organization below:</h3>

	<% @organizations.each do |o| %>
		<h3><%= link_to o.title, new_resource_path(:organization_id => o) %></h3>
	<% end %>
</div>